<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
    <h1 style="font-weight: bold; font-size:large;">Administrar Productos</h1>
    </div>
    <button class="btn btn-primary mb-3" onclick="createProduct()" id="createProductBtn" data-toggle="modal" data-target="#productModal">Crear Producto</button>
    <table class="table table-bordered">
        <thead class="table-light">
            <tr>
                <th>Producto</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            {{#each productos}}
            <tr>
                <td class="text-start">{{nombre}}</td>
                <td>{{precio}}</td>
                <td>{{cantidad}}</td>
                <td>
                    <button class="btn btn-warning btn-sm edit-product" data-id="{{this.id}}">Editar</button>
                    <form action="/admin/productos/{{this.id}}/delete" method="POST" style="display:inline;"></form>
                    <button class="btn btn-danger btn-sm" onclick="deleteProduct({{id}})">Eliminar</button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
{{> productModal}} 
<script src="/js/productModal.js"></script>
